extends layout
block content
  nav.navbar.navbar-default
    a(href="1" aria-label="Home")
      span.glyphicon.glyphicon-home(style="font-size: 3em;")
    span.h1.text-left PSJobs
    span
    a(href="info" aria-label="Information")
      span.glyphicon.glyphicon-info-sign(style="font-size: 3em;")
  h1 About PS Jobs
  p PS Jobs is a basic alternative view of the apsjobs website. It has been built only as a learning exercise and for better rendering on mobile devices.
  p No warranty is provided as to the accuracy of results or service reliability.
  p Issues can be logged at   
    a(href="https://github.com/nokout/psjobs/issues") GitHub
  p Content is sourced from the Australian Public Service Commission publication apsjobs.gov.au and is licensed for reuse under a #[a(href='http://creativecommons.org/licenses/by/3.0/au/') Creative Commons BY Attribution 3.0 Australia license].
